@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

.basic-border {
  border: 1px solid black;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background: url("../images/common/background-screenshot.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
  background-color: rgba(9, 9, 9, 0.6);
  max-width: 100%;
  min-height: 75vh;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: ". . . . . ." ". nav nav nav nav ." ". . . . . ." ". heading heading logo logo ." ". heading heading logo logo ." ". heading heading logo logo ." ". heading heading logo logo ." ". heading heading logo logo ." ". heading heading . . .";
  grid-gap: 0px;
  padding-bottom: 1rem;
}

.header__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: nav;
  padding: 0 1rem;
  background-color: #fbfafa;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
      grid-template-areas: "site-links site-links site-links social-icons";
  font-size: 1.1rem;
}

.header__nav ul {
  list-style-type: none;
}

.header__nav ul li {
  display: inline-block;
}

.header__nav__site-navigation {
  list-style-type: none;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: site-links;
  padding: 0;
  margin: 0;
  text-align: left;
}

.header__nav__follow-me {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: social-icons;
  padding: 0;
  margin: 0;
  text-align: right;
}

.header__heading {
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: heading;
  padding: 1rem 1.5rem;
  background-color: none;
  color: #fbfbfb;
}

.header__heading h1 {
  font-size: 4rem;
  padding: 0 2rem 0 0;
  margin: 0;
}

.header__heading p {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.header__heading a.big-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  background-color: #ff2020;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.header__heading a.big-btn:hover {
  background-color: #8640f2;
}

.header__heading a.big-btn-pushed {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: 40px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  background-color: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.header__heading a.big-btn-pushed:hover {
  color: black;
  background-color: white;
}

.header__logo {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: logo;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-right: 2rem;
  margin: 0;
}

.header__logo_img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  width: 100%;
  min-height: 60vh;
  margin: 0;
  background-color: rgba(9, 9, 9, 0.6);
  color: white;
  padding: 4rem 15rem 0 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "foot_about foot_about foot_about foot_about foot_nav foot_follow" "foot_author foot_author foot_author foot_author foot_author foot_author" ". . . . . .";
}

.footer h1 {
  color: #ff2020;
}

.footer h2 {
  color: #c5c5c5;
  border-bottom: 1px solid #ff2020;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  display: inline-block;
}

.footer__about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foot_about;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 0 2rem;
  margin: 0;
}

.footer__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: foot_nav;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  padding: 0 2rem;
  margin: 0;
}

.footer__follow-me {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: foot_follow;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  padding: 0 2rem;
  margin: 0;
}

.footer__author {
  margin: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: foot_author;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  text-align: center;
  border-top: 1px solid #ff2020;
}

a {
  text-decoration: none;
}

a.nav-link {
  display: inline-block;
  padding: 1.5rem 1rem;
  background: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: black;
}

a.nav-link:hover {
  color: #ff2020;
}

a.nav-active-link {
  color: #ff2020;
}

a.nav-social-icon {
  display: inline-block;
  padding: 1.9rem 0.8rem 1rem 0.8rem;
  position: relative;
  color: black;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a.nav-social-icon-twitter:hover {
  color: #55acee;
}

a.nav-social-icon-youtube:hover {
  color: #bb0000;
}

a.nav-social-icon-twitch:hover {
  color: #6441a1;
}

a.nav-social-icon-instagram:hover {
  color: #e4405f;
}

a.footer-link {
  display: inline;
  background: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #afafaf;
}

a.footer-link:hover {
  color: white;
}

a#scrollNow {
  display: block;
  position: fixed;
  right: 0.7rem;
  bottom: 0.7rem;
  padding: 1rem 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: black;
  z-index: 2;
  border-radius: 50%;
  text-align: center;
  color: white;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  visibility: hidden;
}

a#scrollNow:hover {
  background-color: #ff2020;
  color: black;
}

.content {
  width: 100%;
  min-height: 10vh;
  background-color: #f3f3f3;
  padding: 2rem 15rem;
  color: black;
  font-size: 1.05rem;
}

.content__transparent {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 32, 32, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(-90deg, rgba(255, 32, 32, 0.7), rgba(0, 0, 0, 0));
  padding: 4rem 15rem;
  color: #fbfbfb;
}

p.emphasized-ParaText {
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

#twitter-feed {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#twitch-embed {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */