$link-color: rgba(255,32,32,1.0);
$background-layer-color: rgba(9, 9, 9, 0.6);
$background-gradient-value: linear-gradient(-90deg, red, yellow); //background-image: $background-gradient-value;
$heading-font: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.basic-border {border: 1px solid black;}
.hidden {display: none;}

html {scroll-behavior: smooth; height: 100%;}
body {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    background:url('../images/common/background-screenshot.jpg') no-repeat center center fixed;
}
.header {
    background-color: $background-layer-color;
    width: 100%;
    min-height: 75vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:    ". . . . . ."
                            ". nav nav nav nav ."
                            ". . . . . ."
                            ". heading heading logo logo ."
                            ". heading heading logo logo ."
                            ". heading heading logo logo ."
                            ". heading heading logo logo ."
                            ". heading heading logo logo ."
                            ". heading heading . . .";
    grid-gap: 0px;
    padding-bottom: 1rem;
    &__nav {
        grid-area: nav;
        padding: 0 1rem;
        background-color: rgba(251,250,250,1.0);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "site-links site-links site-links social-icons";
        font-size: 1.1rem;
        ul {
            list-style-type: none;
            li {display: inline-block;}
        }
        &__site-navigation {
            list-style-type: none;
            grid-area: site-links;
            padding: 0;
            margin: 0;
            text-align: left;
        }
        &__follow-me {
            grid-area: social-icons;
            padding: 0;
            margin: 0;
            text-align: right;
        }
    }
    &__heading {
        grid-area: heading;
        padding: 1rem 1.5rem;
        background-color: none;
        color: rgba(251,251,251,1.0);
        h1 {
            font-size: 4rem;
            padding: 0 2rem 0 0;
            margin: 0;
        }
        p {
            font-size: 1.1rem;
            padding-left: 0.5rem;
        }
        a {
            &.big-btn {
                display: inline-block;
                padding: 1rem 1.5rem;
                margin: 0.5rem 0.5rem 0rem 0.5rem;
                border-radius: 40px;
                text-decoration: none;
                color: white;
                background-color: $link-color;
                transition: background-color 0.2s ease;
                &:hover {
                    background-color: rgba(134,64,242,1.0);
                }
            }
            &.big-btn-pushed {
                display: inline-block;
                padding: 1rem 1.5rem;
                margin: 0.5rem 0.5rem 0rem 0.5rem;
                border-radius: 40px;
                border: 1px solid white;
                text-decoration: none;
                color: white;
                background-color: none;
                transition: background-color 0.2s ease;
                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
    &__logo {
        grid-area: logo;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-right: 2rem;
        margin: 0;
        &_img {
            height: auto;
            min-width: 50%;
            max-height: 100%;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}
a {
    text-decoration: none;
    &.nav-link{
        display: inline-block;
        padding: 1.5rem 1rem;
        background: none;
        transition: color 0.2s ease;
        color: black;
        &:hover {
            color: $link-color;
        }
    }
    &.nav-active-link {
        color: $link-color;
    }
    &.nav-social-icon {
        display: inline-block;
        padding: 1.9rem 0.8rem 1rem 0.8rem;
        position: relative;
        color: black;
        transition: color 0.2s ease;
        &-twitter:hover {
            color: rgba(85,172,238,1.0);
        }
        &-youtube:hover {
            color: rgba(187,0,0,1.0);
        }
        &-twitch:hover {
            color: rgba(100,65,161,1.0);
        }
    }
    &.footer-link {
        display: inline;
        background: none;
        transition: color 0.2s ease;
        color: rgba(175,175,175,1.0);
        &:hover {
            color: white;
        }
    }
}
.footer {
    width: 100%;
    min-height: 60vh;
    margin: 0;
    background-color: $background-layer-color;
    color: white;
    padding: 4rem 15rem 0 15rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    h1 {color: $link-color;}
    h2 {color: rgba(197,197,197,1.0); border-bottom: 1px solid $link-color;}
    &__about {
        grid-column: 1/4;
        padding: 0 2rem;
    }
    &__nav {
        grid-column: 5/6;
        padding: 0 2rem;
    }
    &__follow-me {
        grid-column: 6/7;
        padding: 0 2rem;
    }
    &__author {
        grid-column: 2/6;
        text-align: center;
        border-top: 1px solid $link-color;
    }
}
.content {
    width: 100%;
    min-height: 10vh;
    background-color: rgba(243,243,243,1.0);
    padding: 2rem 15rem;
    color: black;
    font-size: 1.05rem;
}
.content-transparent {
    width: 100%;
    min-height: 10vh;
    //background-color: $background-layer-color;
    background-image: linear-gradient(-90deg, rgba(255, 32, 32, 0.7), rgba(0, 0, 0, 0));
    padding: 4rem 15rem;
    color: rgba(251,251,251,1.0);
    font-size: 1.05rem;
}
p {
    .bigParaText {
        font-size: 1.2rem;
        font-family: $heading-font;
    }
}
#twitch-embed {
    text-align: center;
}